<script type="text/javascript">
$('document').ready(function() {
  pageurl = '/'+'{{current_question.slug}}'+',' + '{{current_question.id}}' + '/';
  window.history.pushState({path:pageurl},'',pageurl);
});
    $('.answer').click(function() {
      $('#previous_question').fadeOut(300);
      $('#current_question').fadeOut(300);
        $.ajax({
          url: '/vote/' + this.id + "/",
          success: function(data) {
            $('#previous_question').fadeOut(300);
            $('#current_question').html('&nbsp;').load('/current_question/' + data.current_question_pk + "/");
            $('#current_question').fadeIn(300);
            $('#previous_question').html('&nbsp;').load('/previous_question/' + data.previous_question_pk + "/");
            $("#previous_question").fadeIn(300);
          }
        });
    return false;
    });

 </script>

<div id="current_question" class="row">
  <div class="twelve columns">
    <div class="panel red">
      <div class="row">
        <div class="twelve columns">
          <p class="current_question text-center">{{current_question.question}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="current_answers" class="row">
  <div class="twelve columns">
    <div class="panel blue">
      <div class="row">
        <div class="twelve columns">
          {% for a in current_question.answer_set.all %} {% csrf_token %}
          <a href = '' id="{{a.id}}" type="int" class="answer"><p class="current_answers text-center">{{a.answer}}</p></a>
          {%endfor%}
        </div>
      </div>
    </div>
  </div>
</div>
