<div class="container">
    <div class="header">
        <a class="brand">QNA</a>
        <form class="search pull-right">
            {% include 'autocomplete_light/static.html' %}
            <input type="text" class="search-query" placeholder="Search...">
        </form>
        <ul class="nav pull-right">
            <li>
                <a href="#">Submit</a>
            </li>
            <li>
                <a href="#">Profile</a>
            </li>
            <li>
                <a href="#">Login</a>
            </li>
        </ul>
    </div>
</div>