<div class="container">
    <div class="header">
        <a class="brand">QNA</a>
        <form class="search pull-right">
          <div class = "ui-widget"><label for "search">Search...</label>
            <input id="search"/>
          </div>
        </form>
        <ul class="nav pull-right">
            <li>
                <a href="#">Submit</a>
            </li>
            <li>
                <a href="#">Profile</a>
            </li>
            <li>
                <a href="#">Login</a>
            </li>
        </ul>
    </div>
</div>