<div id="previous_question" class="row">
  <div class="twelve columns">
    <div class="panel gray">
      <div class="row">
        <div class="twelve columns">
          <p class="previous_question text-center">{{previous_question.question}}</p>
        </div>
      </div>
      <div class="row">
          <div class="eight columns centered">
          <div id="visualization"></div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>

<script type="text/javascript">
  $(document).ready(function() {
    google.load("visualization", "1", { packages: ["corechart"] });
    var chartdata;
    chartdata = [
    ['Answer', 'Votes'],
    {%for answer in previous_question.answer_set.all %}
    ['{{answer.answer}}', {{answer.get_vote_count}}],
    {% endfor %}
    ];
    var datatable = google.visualization.arrayToDataTable(chartdata);
    chart = new google.visualization.PieChart(document.getElementById('visualization'));
    options = {
      'backgroundColor': "transparent",
      'colors': ['#f15c22', '#eb4f68', '#eb62ca', '#9567eb', '#73a1d5'],
      'sliceVisibilityThreshold':0,
      'chartArea': {'width':"100%",'height':"80%"},
      'legend': {'position': 'bottom'}
    };
    chart.draw(datatable, options);
  });
 </script>