
    {% load staticfiles %}
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>

<script type="text/javascript">
  $(document).ready(function() {
    google.load("visualization", "1", { packages: ["corechart"] });
    var chartdata;
    chartdata = [
    ['Answer', 'Votes'],
    {%for answer in previous_question.answer_set.all %}
    ['{{answer.answer}}', {{answer.get_vote_count}}],
    {% endfor %}
    ];
    var datatable = google.visualization.arrayToDataTable(chartdata);
    chart = new google.visualization.PieChart(document.getElementById('visualization'));
    options = {
      'backgroundColor': "cccbc7",
      'sliceVisibilityThreshold':0,
      'width':"100%",
      'height':"100%"
    };
    chart.draw(datatable, options);
  });
 </script>

<div id = "previous_question">
  <div class="container">
      <div class="row">
          <div class="span7 height3 gray">
              <div class="inner-box2">
                  <h2>
                      Previously...
                  </h2>
                  {{previous_question.question}}
                  </p>
              </div>
              <div class="inner-box4">
                  <p class="note">
                      More...
                  </p>
                <div id="visualization"></div>
              </div>

          </div>
      </div>
  </div>    
</div>