<html>
<head>

<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('#current_question').html( '&nbsp;' ).load('/current_question/'+{{current_question.id}}+"/");
});
</script>


</head>


<body>



<h2>CURRENT QUESTION</h2>
<div id = "current_question">

</div>
{% if previous_question %}
<h2>PREVIOUS QUESTION</h2>
{% endif %}
<div id="previous_question">

</div>


</body>
</html>