<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>QNA</title>
{% load staticfiles %}
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", { packages: ["corechart"] });
  var chart;
  var stuff;
  function Change(s) {
     google.setOnLoadCallback(reDraw(s));
     function reDraw(s) {
      console.log(s);
        stuff = google.visualization.arrayToDataTable(s);
        chart = new google.visualization.PieChart(document.getElementById('visualization'));
        options = {
          'backgroundColor': "cccbc7"
        };
        chart.draw(stuff, options);
     }
    }
  $(document).ready(function() {
    $(".previous_question").hide();
    $('#current_question').html( '&nbsp;' ).load('/current_question/'+{{current_question.id}}+"/");
    $('.answer').bind('click', function () {

      $.get("/vote/"+this.id+"/", function(data) {
        $.ajax({
          url: '/previous_question/' + data.previous_question_pk+"/",
          success: function(data) {
            Change(data.answers);
            $(".previous_question .previousquestion").html(data.previous_question);
            $(".previous_question").fadeOut(300).delay(800).fadeIn(300);
          }
        });
              $('#current_question').fadeOut( 300, function() {
          $('#current_question').html( '&nbsp;' ).load('/current_question/'+data.current_question_pk+"/");
        }).fadeIn(300);

      });
   });
});
</script>

</head>

<body>

<div class="container">
<div class="header">
<a class="brand">QNA</a>
<form class="search pull-right">
	<input type="text" class="search-query" placeholder="Search...">
</form>
<ul class="nav pull-right">
<li><a href="#">Submit</a></li>
<li><a href="#">Profile</a></li>
<li><a href="#">Login</a></li>
</ul>
</div>

</div>

<div id = "current_question">
</div>

{#################### PREVIOUS QUESTION #########################}
<div class = "previous_question">


<div class="container">
    {% load core_tags %}
    <div class="row">
        <div class="span7 height2 gray">
            <div class="inner-box2">
                <h2>
                    Previously...
                </h2>
                <span class="previousquestion">
                </p>
            </div>
            <div class="inner-box4">
                <div id="visualization"></div>
  

                <p class="note">
                    More...
                </p>
            </div>
        </div>
    </div>
</div>    


</div>
{#################### PREVIOUS QUESTION #########################}

<footer>
<p>Copyright gibberish.</p>
</footer>

<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>


</body>

</html>