<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<link rel="stylesheet" href="http://jqueryui.com/themes/base/jquery.ui.all.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	 <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
	<script>
	$(document).ready(function() {
	        $("#search").autocomplete({
	            source: function (request, response) {
	            	$.ajax({
	                    url: "{% url search %}?searchtext="  + request.term,
	                    type: "GET",
	                    success: function (data) {
	                    	console.log(data);
                            var viewall = [{
                                fields: {question: "View all search results"},
                                get_absolute_url: "<a href='/searchresults/'>View all search results<a>",
                                fulfills_required: false
                            }];
                            data.splice(6, 0, lastitem[0]);
	                        response($.map(data, function (item) {
	                            return {
	                                label: item.fields.question,
	                                value: item.get_absolute_url
	                        	}
	                        }));
	                    },
	                    data: request.term,
	                    dataType: "json"
	                });
	            },
	           select: function(event, ui) {
	           	window.open(ui.item.value)
	           }
	        });
	});
	</script>
</head>
<body>
	<div class = "ui-widget">
	<label for="search">Search: </label>
	<input id="search" value ="search"/>
</div>
</body></html>