<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<link rel="stylesheet" href="http://jqueryui.com/themes/base/jquery.ui.all.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	 <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
<script>
  $(document).ready(function() {
          $("#search").autocomplete({
              source: function (request, response) {
                $.ajax({
                      url: "{% url search %}?searchtext="  + request.term,
                      type: "GET",
                      success: function (data) {
                        console.log(data);
                          response($.map(data, function (item) {
                              return {
                                  label: item.fields.question,
                                  value: item.pk
                            }
                          }));
                      },
                      data: request.term,
                      dataType: "json"
                  }); 
              },
             select: function(event, ui) {
              console.log(ui);
              var url = "/current_question/"+ui.item.value;
               $('#previous_question').fadeOut(300);
              $('#current_question').delay(200).fadeOut(300);
                      $('#current_question').html('&nbsp;').load(url);
        $('#current_question').fadeIn(300);
        $('#previous_question').fadeIn(300);
            
             }
          });
  });
  </script>
</head>
<body>
	<div class = "ui-widget">
	<label for="search">Search: </label>
	<input id="search" value ="search"/>
</div>
</body></html>