<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>QNA</title>
{%load staticfiles%}
<link href="{% static 'main.css' %}" rel="stylesheet" type="text/css" />
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
</head>

<body>
{% load url from future %}
<div id="landing-top"></div>

<div id="landing-middle">
<!-- Beginning of content -->
<div id="landing-box-red">
<p><a rel="nofollow" href="{% url "socialauth_begin" "facebook" %}">{{ "facebook"|title }}</a></p>
<p><a href = "{% url 'core.views.questions' %}">Proceed anonymously</a></p>
</div>
<div id="landing-box-clear">
<p style="font-size: 4.5em; font-family: impact;">INSERT LOGO</p>
<p>The monotony of test-taking with the bonus of irrelevance.</p>
</div>
<!-- End ofcontent -->
</div>

<div id="landing-bottom">
<p>Copyright gibberish.</p>
</div>

</div>
</body>

</html>