
<div class="container">
    {% load core_tags %}
    <div class="row">
        <div class="span7 height2 gray">
            <div class="inner-box2">
                <h2>
                    Previously...
                </h2>
                <p class="previousquestion">
                    {{ previous_question.question }}
                    
                </p>
            </div>
            <div class="inner-box4">
              {% for a in previous_question.answer_set.all %}

<p>{{ a.answer }}: {% filter floatformat %}{% percentage previous_question a %}{% endfilter %}%</p>
<div class="graph" style="width: {% percentage previous_question a %}%;"></div>

{% endfor %}

                <p class="note">
                    More...
                </p>
            </div>
        </div>
    </div>
</div>    
