/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Layout Styles
----------------------------------------- */

body 	{background-image:url('../images/qna/pattern.png'); font-family: 'Georgia', serif;}

.red	{
		background-color: #f15c22;
		color: #ffffff;
		overflow: auto;
}

.blue	{
		background-color: #73a1d5;
		color: #ffffff;
		overflow: auto;
}

.gray	{
		background-color: #cccbc7;
		color: #707070;
		overflow: auto;
}

.current_answers	{
		font-family: 'Bree Serif', 'Georgia', serif;
		font-size: 18px;
		line-height: 1;
		margin-top: 20px;
}

.current_question,
.previous_question	{
		font-family: 'Bree Serif', 'Georgia', serif;
		font-size: 24px;
		line-height: 1;
		margin-top: 18px;
}

.followup	{
		font-size: 14px;
		font-style: italic;}

.panel	{margin:0 0 10px 0;}

/* -----------------------------------------
   Text Styles
----------------------------------------- */

a	{color: inherit;}

a:hover	{color: #cccbc7;}

h1, h2, h3, h4, h5, h6 {font-family: 'Bree Serif', 'Georgia', serif; color: inherit;}

.followup	{
		font-size: 14px;
		font-style: italic;}

/* -----------------------------------------
   Header
----------------------------------------- */

.top-bar	{
		background-color: #494949;
		margin: 0 0 10px 0;
}

/* -----------------------------------------
   Other
----------------------------------------- */

#visualization	{
		height: 300px;
		width: 500px;
}

.button{
		width:auto;
		background:#73a1d5;
		border:1px solid #3a7ac1;
			-webkit-box-shadow:0 rgba(255,255,255,0.5) inset;
			-moz-box-shadow:0 rgba(255,255,255,0.5) inset;
		box-shadow:0 rgba(255,255,255,0.5) inset;
		color:#fff;
		cursor:pointer;
		display:inline-block;
		font-family:inherit;
		font-size:14px;
		font-weight:bold;
		line-height:1;
		margin:0;
		padding:8px 15px 10px;
		position:relative;
		text-align:center;
		text-decoration:none;
		transition:background-color 0.15s ease-in-out;
			-webkit-transition:background-color 0.15s ease-in-out;
			-moz-transition:background-color 0.15s ease-in-out;
			-o-transition:background-color 0.15s ease-in-out;
}

.h1_offset	{margin-top: 17px;}

.top-bar ul>li.search form input[type=search]{margin-bottom:4px;}

.top-bar ul>li.search:hover,.top-bar ul>li.search:focus{background:#494949}

.top-bar>ul .name h1 a{font-weight:normal;padding:0 22.5px;font-size:20px !important}

.top-bar ul>li.toggle-topbar{cursor:pointer;display:inlineblock;height:45px;position:absolute;right:0;top:0;width:50%}