a   {
    color: inherit;
    text-decoration: none;
}

body  {
    background-image:url('../img/pattern.png');
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Georgia', serif;
    font-weight: normal;
      -webkit-font-smoothing: antialiased;
}

ul    {
    display: inline-block;
}

.container  {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 790px; 
}

/* Header */

.header {
    background-color: #494949;
    height: 100px;
    width: 770px;
    padding: 0 20px;
    box-sizing: border-box;   
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.nav  {
    list-style: none;
    position: relative;
    margin: 40px 20px;
}

.nav li {
    display: inline-block;
    margin: 0 5px;
}

.nav li a {
    font-size: 14px;
    text-transform: uppercase;
}

/* Layout Classes */

.row    {
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.height2  {height: 200px;}

[class*="span"] {
    margin: 0 10px;
    padding: 0px 20px;
    box-sizing: border-box;   
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    float: left;
    position: relative;
}

.span2  {width: 250px;}
.span5  {width: 500px;}
.span7  {width: 770px;}

.inner    {
    margin: auto;
}

[class*="inner-box"]  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    float: left;
    position: relative;
}

.inner-box2 {width: 275px;}
.inner-box4 {width: 455px;}

/* Color Classes */

.red  {
    background-color: #f15c22;
    color: #ffffff;
}

.blue {
    background-color: #73a1d5;
    color: #ffffff;
}

.gray {
    background-color: #cccbc7;
    color: #707070;
}

/* Text Formatting */

h1,
h2,
h3,
h4,
h5,
h6    {
    font-family: 'Bree Serif', serif;
    font-style: normal;
    font-weight: 200;
    margin: 0;
}

h1    {
    font-size: 60px;
}

h2    {
    font-size: 50px;
}

p   {
    font-weight: normal;
    margin: 0 0 10px 0;
}

.brand  {
    display: block;
    float: left;
    font-family: 'Bree Serif', serif;
    font-size: 68px;
}

.currentquestion  {
    font-size: 20px;
    text-align: justify;
}

.previousquestion {
    font-size: 18px;
    margin-top: 18px;
}

.currentanswer  {
    font-size: 16px;
}

.note {
  font-size: 12px;
  font-style: italic;
  position: absolute;
  bottom: 0;
  right: 20px;
}

/* Positional Formatting */

.pull-left  {
    float: left;
  font-style: italic;
}

.pull-right {
    float: right;
}

.text-center  {
    text-align: center;
    
}

.text-right {
    text-align: right;
    
}

/* Forms, Buttons, Etc. */

label {
   position: relative;
   padding-left: 25px;
   display: block;
}

label input[type=radio] {
   position: absolute;
   left: 0px;   
}

.search {
    position: relative;
    margin-top: 35px;
}


.answer {
    display: block;
    font-size: 16px;
    line-height: 20px;
    margin: 0px 10px;
}

a.answer:hover {background-color: #f15c22;}

.search-query {
    padding: 5px 15px;
    font-family: 'Georgia', serif;
    font-size: 12px;
    font-style: italic;
    border: 0;
    outline: 0;
    border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
    height: 20px;
    width: 175px;
}